@charset "UTF-8";

/* header start*/
.headerBar {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	position: fixed;
	margin-bottom: 5px;
}
/* footer end*/

/* title start*/
#title {
    width: 100%;
    text-align: center;
	height: 90px;
	float: center;
	font-family: 'Euphoria Script';
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 15px;
}
/* title end*/

.middle{
	margin-top: 100px;
	background-color: #E9E9E9;
	border: solid #c2c2c2 1px;
	float: center;
}

#buttons {
	width: 100%;
	text-align: center;
}

#sc{
	margin-top: 20px;
	display:block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}

#guestButton {
	width: 190px;
	height: 40px;
	font-size: 15px;
	border-radius: 5px;
}

.fb-button {
	border-radius: 5px;
	height: 100%;
	width: auto;
	max-height: 40px;
}

#fbButton img {
	margin-top: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
}

/* footer start*/
.footer {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
	background-color: white;
	position: fixed;
}
/* footer end*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.0s;
    animation-name: animatetop;
    animation-duration: 0.0s
}

#headerFriendsListTable {
	
}

#tableFriendsList {
	
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: grey;
    color: white;
}

.modal-body {
	padding: 2px 16px;
}