@charset "UTF-8";

.panel-classes {
	border: solid #c2c2c2 1px;
}

.panel-constraints {
	border-right: solid #c2c2c2 1px;
	border-left: solid #c2c2c2 1px;
	border-bottom: solid #c2c2c2 1px;
}

.panel-schedules {
	border-right: solid #c2c2c2 1px;
	border-top: solid #c2c2c2 1px;
	border-bottom: solid #c2c2c2 1px;
}

.panel-header {
	color: #3c3c3c;
	padding: 2px;
	font: 15px arial, sans-serif;
	background-color: #E9E9E9;
	border-bottom: solid #c2c2c2 1px;
	max-height: 22px;
	min-height: 22px;
}

.fb-button {
	border-radius: 5px;
	height: 100%;
	width: auto;
}

.button-bar {
	background-color: #eeeeee;
	padding: 5px;
	height: 8%;
	max-height: 8%;
}

.schedule-button {
	height: 100%;
	width: 100%;
	margin: auto;
	font-size: 12px;
	padding: 0px;
}

.fake-button {
	height: 100%;
	width: 100%;
	margin: auto;
	font-size: 12px;
	padding: 0px;
	padding-top: 5px;
}

.panel-content{
	overflow: scroll;
	margin-left: 5px;
	margin-right: 5px;
}

.group-header{
	height: 100%;
	width: 100%;
	background-color: #b9b9b9;
	border: solid #727272 1px;
	border-radius: 5px 0px 0px 0px;
	text-align: center;
	font:15px arial, sans-serif;
	padding-top: 7px;
}

.header-row{
	margin-top: 20px;
	max-height: 15%;
}

.class-row{
	max-height: 15%;
}

.class-entry{
	margin:auto;
	height:100%;
	width:100%;
	background-color: #eeeeee;
	border: solid #727272 1px;
	font:15px arial, sans-serif;
	padding-top: 7px;
	padding-left: 5px;
}

.class-input{
	margin:auto;
	height:100%;
	width:100%;
	background-color: #eeeeee;
	border: solid #727272 1px;
	font:15px arial, sans-serif;
	padding-left: 5px;
}

.button-add-class{
	width:90%;
	height:100%;
	background-color: #53d042;
	border-radius: 0px 5px 5px 0px;
	border: solid #343434 1px;
	font:15px arial, sans-serif;
}

.button-add-group{
	width:80%;
	height:100%;
	background-color: #53d042;
	border: solid #343434 1px;
	font:15px arial, sans-serif;
}

.button-remove-class{
	width:90%;
	height:100%;
	background-color: #e34648;
	border: solid #343434 1px;
	border-radius: 0px 5px 5px 0px;
	font:15px arial, sans-serif;
}

.button-remove-group{
	width:80%;
	height:100%;
	background-color: #e34648;
	border: solid #343434 1px;
	border-radius: 0px 5px 0px 0px;
	font:15px arial, sans-serif;
}

.group-add-row{
	margin-top: 15px;
	margin-bottom: 20px;
}

.no-padding{
	padding:0px;
}

.constraint-row{
	max-height: 15%;
}

.first-constraint-row{
	margin-top: 20px;
	max-height: 15%;
}

.constraint-row-add{
	margin-bottom: 20px;
	max-height: 27%;
}

.first-constraint-row-add{
	margin-top: 20px;
	margin-bottom: 20px;
	max-height: 27%;
}

.checkbox-label{
	max-height: 30%;
	padding: 0px;
	margin: auto;
	font:10px arial, sans-serif;
}

.day-checkbox{
	padding: 0px;
	margin: auto;
	height: 12px;
	width: 10px;
}

.constraint-add{
	padding: 0px;
	width:90%;
	height:100%;
	background-color: #53d042;
	border: solid #343434 1px;
	border-radius: 0px 5px 5px 0px;
	text-align: center;
	font:12px arial, sans-serif;
}

.constraint-remove{
	padding: 0px;
	width:90%;
	height:100%;
	background-color: #e34648;
	border: solid #343434 1px;
	border-radius: 0px 5px 5px 0px;
	text-align: center;
	font:12px arial, sans-serif;
}

.days-block{
	padding-left: 5px;
	padding-right: 7px;
	margin:auto;
	height:100%;
	width:100%;
	background-color: #eeeeee;
	border: solid #727272 1px;
}